<!DOCTYPE html>
<html>
<body>
   
    <canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
    <%- include('head.ejs')%>
    <%- include('header.ejs')%>
    <%- include('bkgdImg.ejs')%>
    <div class="mainStyle">

    <h2><%= title%></h2>
    <h1>thats a 404 page!!</h1>
</div>
<%- include('footer.ejs')%>
</div>
<!--script src="javascripts/backgroundFX1.js"></script-->
</body>
 </html>