<!DOCTYPE html>
<html>
    <body onload="adminLoader()">
           
    <canvas id="bkgdCanvas"></canvas>  
    <div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>
    <div class="mainStyle">
    <h1><%=title%></h1>
  <!--form action="/blogPost" method="post">
      <input type="text" name="blogTitle" >
      <input type="text" name="subTitle">
      <input type="text" name="body">
      <button type="submit">post blog</button>
  </form-->
   

<table>
  <h2>Registered Visitors</h2>
    <thead>
   <th>name</th>
     <th>email</th>
    </thead>
  <tbody>
        <% for(var i=0; i<email.length;i++){%>
      <tr>
      <td>
      <%= email[i].name %> 
    </td>
    <td>  
      <a href="mailto:<%=email[i].email%>">email</a>
    </td>
    <td style="border:none;">
      <form method="post" action="/detail"><button class="details" id="detail<%= [i]%>" name="detail" value="<%= email[i].email%>">Details</button></form>
      <button id="delButt<%= [i]%>">remove</button>
     <form method="post" action="/delRegister"><button id="delComfirm<%= [i]%>" name="delConfirm" value="<%= email[i].email%>">Confirm</button></form>
      </td>
  </tr>
     <% } %>
  
    
  </tbody>
  </table>
  <a href="mailto:
  <% for(var i=0; i<email.length;i++){%>
   <%=email[i].email%>,
   <% } %>
  "><p>email all</p></a>
        </div>

 <!--script src="javascripts/backgroundFX1.js"></script-->
<div class="mainStyle">

<form action="/upload"method="post" enctype="multipart/form-data">
 <h2>Post Event</h2>

  <input placeholder="Event Title"  type="text" name="title">
 <input placeholder="Event Subtitle" type="text" name="subtitle">
 <textarea placeholder="Event Details" type="text" name="details"></textarea>
 <h2 style="margin: 0;">Attach Image to Event</h2> 
 <input type="file" accept="image/*" name="photo">

  <button type="submit" >Submit</button>
</form>



<%- include('config/footer.ejs')%> 
</div>

    </div>
    <script src="javascripts/admin.js"></script>
    </body> </html>