<!DOCTYPE html>
<html>
    <body onload="adminLoader()">
           
    <canvas id="bkgdCanvas"></canvas>  
    <div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/loadScreen.ejs')%>

    <div class="mainStyle">
    <h1><%=title%></h1>

  <div class="mainStyle">
    <h2 id="adminZero" onclick="expander(0)">Post Event or Blog Post</h2>
      <div class="adminSection" id="admin0">

      <form action="/upload"method="post" enctype="multipart/form-data">
      
       <h2>Step 1: Add Details</h2>
       <input placeholder="Event Title"  type="text" name="title">
       <input placeholder="Event Subtitle" type="text" name="subtitle">
       <textarea placeholder="Event Details" type="text" name="details"></textarea>
       <h2 style="margin: 0;">Step 2: Attach One Image</h2> 
       <input type="file" accept="image/*" name="photo">
       <h2>Step 3: Submit</h2> 
        <button type="submit" >Submit</button>
      </form>
        </div>
    </div>

    <div class="mainStyle">
      <h2 id="adminOne" onclick="expander(1)">Registered Visitors</h2>
      <div class="adminSection" id="admin1">
 <table>

    <thead>
   <th>name</th><th>email</th>
    </thead>
  <tbody>
        <% for(var i=0; i<data.length;i++){%>
      <tr>
      <td>
        <form action="/visitor"  method="post"><button class="delRegister" name="buttonID"value="<%=data[i].email%>" type="submit"><%= data[i].name %></button></form>
      </td>
    <td>  
      <button> <a href="mailto:<%=data[i].email%>">email</a></button>
     </td>
    </tr>
     <% } %>
    </tbody>
  </table>
  </div>
  </div>

  <div class="mainStyle">
    <h2 id="adminTwo" onclick="expander(2)">Blogs</h2>
    <div class="adminSection" id="admin2">
<table>

  <thead>
 <th>Blog Title</th><th>Subtitle</th><th>Remove</th>
  </thead>
<tbody>
      <% for(var i=0; i<blogs.length;i++){%>
    <tr>
    <td>
     <%= blogs[i].bTitle %>
    </td>
    <td><%= blogs[i].bSubtitle%></td>
  <td>  
   <form action="/delBlog" method="post"><button name="blogDelete" value="<%= blogs[i]._id%>"> delete</button>
   </form> 
   </td>
  </tr>
   <% } %>
  </tbody>
</table>
</div>
</div>


        </div>

 <!--script src="javascripts/backgroundFX1.js"></script-->

<%- include('config/footer.ejs')%> 
    </div>

    </body> </html>