<!DOCTYPE html>
<html>
    <body onload="adminLoader()">
           
    <canvas id="bkgdCanvas"></canvas>  
    <div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>
    <div class="mainStyle">
    <h1><%=title%></h1>
  <!--form action="/blogPost" method="post">
      <input type="text" name="blogTitle" >
      <input type="text" name="subTitle">
      <input type="text" name="body">
      <button type="submit">post blog</button>
  </form-->
    <h1>Registered Visitors</h1>
 
<table>
    <thead>
   <th>name</th>
     <th>email</th>
    </thead>
  <tbody>
        <% for(var i=0; i<email.length;i++){%>
      <tr>
      <td>
      <%= email[i].name %> 
    </td>
    <td>
      <%= email[i].email %>  
    </td>
    <td style="border:none;">
      <button id="delButt<%= [i]%>">Remove <%= email[i].name%></button>
     <form method="post" action="/delRegister"><button class="delButton" id="delComfirm<%= [i]%>" name="delConfirm" value="<%= email[i].email%>">Confirm</button></form>
      </td>
  </tr>
     <% } %>
  
    
  </tbody>
  </table>
        </div>

 <!--script src="javascripts/backgroundFX1.js"></script-->
<div class="mainStyle">

<form action="/upload"method="post" enctype="multipart/form-data">
 <h2>Post Event</h2>

  <input placeholder="Event Title"  type="text" name="title">
 <input placeholder="Event Subtitle" type="text" name="subtitle">
 <textarea placeholder="Event Details" type="text" name="details"></textarea>

  <button type="submit" >Submit</button>
</form>



<%- include('config/footer.ejs')%> 
</div>

    </div>
    <script src="javascripts/admin.js"></script>
    </body> </html>