<!DOCTYPE html>
<html>
    <body>
           
    <canvas id="bkgdCanvas"></canvas>  
    <div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <div class="mainStyle">
    <h1><%=title%></h1>
  <!--form action="/blogPost" method="post">
      <input type="text" name="blogTitle" >
      <input type="text" name="subTitle">
      <input type="text" name="body">
      <button type="submit">post blog</button>
  </form-->
    <h1>Registered Visitors</h1>
<table>
      <thead>
     <th>name</th>
      <th>email</th>
       </thead>
<tbody>
      <% for(var i=0; i<email.length;i++){%>
    <tr>
    <td>
    <%= email[i].name %> 
  </td>
  <td>
    <%= email[i].email %>  
  </td>
  <td style="border:none;"><button>delete</button></td>
</tr>
   <% } %>

  
</tbody>
</table>
        </div>
 <%- include('config/footer.ejs')%>
 <script src="javascripts/backgroundFX1.js"></script>
    </div>
    </body> </html>