<!DOCTYPE html>
<html>
    <%- include('config/head.ejs')%>
<body>
 
    <canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
 
   
    <%- include('config/header.ejs')%>

    <div class="mainStyle">

     <div class="landingPage">   
        <div class="imgBox"><img class="mainImg"src="images/sook_banner.png" alt=""></div>

<% for(var i=0;i<data.length;i++){%>
    <div class="eventBody">
<h1><%= data[i].bTitle%></h1>
<h2><%= data[i].bSubtitle%></h2>
<p><%= data[i].bDetails%></p>

<div class="imgBox"><img class="mainImg"src="<%= data[i].imgName%>" alt=""></div>
</div>
<%}%>
</div>
 
</div>
<%- include('config/footer.ejs')%>
</div>
<!--script src="javascripts/backgroundFX1.js"></script-->
</body>
 </html>