<!DOCTYPE html>
<html>
    <body onload="adminLoader()">
           
    <canvas id="bkgdCanvas"></canvas>  
    <div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>

    <div class="mainStyle">
    <h1><%=title%></h1>
<div class="mainStyle">
<h1>visitors</h1>
<%- include('config/footer.ejs')%> 
</div>
    </div>
    </body> </html>